 <!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('./components/header.ejs') %>
      <link rel="stylesheet" href="/css/main.css">
 
  
    </head>

  <body>
    
        <%- include('./components/navbar.ejs') %>

<h1> Área Admin - Anunciar</h1>
  <form
  id="save"
  method="POST"
  autocomplete="off"
  action="/admin/post/aviso"
  enctype="application/x-www-form-urlencoded"
>
  <!-- form pra enviar o prefixo -->
  <label for="title">Titulo do Anúncio:</label><br />

  <input
    type="text"
    id="title"
    class="form-control"
    name="title"
    placeholder="Insira o titulo da embed"
   />
  <br>
 <label for="title">Descrição do Anúncio:</label><br />

  <input
    type="text"
    id="desc"
    class="form-control"
    name="desc"
    placeholder="Insira a descrição"
   />
  <br>
  <button type="submit" class="btn btn-secondary">Postar</button>
</form>
 <%- include('./components/footer.ejs') %>

</body>
</html>