<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('./components/header.ejs') %>
      <link rel="stylesheet" href="/css/main.css">

    </head>

  <body>
    
        <%- include('./components/navbar.ejs') %>


    <div class="heading text-center pt-3">
        <img class="round logo-avatar" src="https://www.imagemhost.com.br/images/2021/03/16/image0.jpg" alt="Imagem do ethan" width="50">
        <h1 class="display-5 heading--title">Danithan</h1>
        <p class="heading--subtitle">Um bot Multifuncional em desenvolvimento </p> 
        <a class="btn btn-magic btn-lg mt-1" href="/invite" target="_blank" role="button">+ Invite</a>
        <a class="btn btn-magic btn-lg mt-1" href="/servidor" role="button">Servidor</a>
    </div>
    <%- include('./components/footer.ejs') %>


  </body>
</html>
