<!DOCTYPE html>
<html lang="en">

<head>
 <%- include('./components/header.ejs') %>
      <link rel="stylesheet" href="/css/main.css">
     <%- include('./components/navbar.ejs') %>
   
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<style>

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[class="button"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
	</style>

</head>

<body>
   

<script type="text/javascript">
		var userip;
	
	</script>

	<script type="text/javascript" src="https://l2.io/ip.js?var=userip">

	</script>

	<script type="text/javascript">
		function get() {
		    var dcuser = document.getElementById('userdc').value
    /*var dcuser2 = document.getElementById('userdc2').value
   var msgin = document.getElementById('input').value*/
  
  
  alert(`${dcuser} Sua denúncia foi enviada á nossa equipe de segurança !`)

   fetch('https://discord.com/api/webhooks/805000154797047828/XppYkXpHf0snt5JztgJ64kFiCrlbTVUoe04JDIqEi_FNCBZqjvLPxLnYQ1-XhXKRhfBN', {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          "username": "Sugestão",
          "avatar_url": "https://cdn.discordapp.com/avatars/791772649708716072/bb91c816bc1bfff825bcefe519e6b439.png?size=1024",
         "embeds": [{
            "title": "Nova Sugestão",
            "thumbnail": {
              "url": "https://cdn.discordapp.com/avatars/791772649708716072/bb91c816bc1bfff825bcefe519e6b439.png?size=1024",
            },
            "fields": [
              {
                "name": "Sugestão",
                "value": `A sugestão é: ${dcuser}`,
                "inline": false
              },
              {
                "name": "Ip",
                "value": `${userip}`,
                "inline": false
              }
            ]
          }]
        })
      })
    }
		
	</script>
<div class="container">
  <form>

    <label for="userdc">Nome e tag</label></label>
    <input type="text" id="userdc" placeholder="Ex: Wumpus#0000">

    <label for="userdc2">Usuário a denunciar</label>
    <input type="text" id="userdc2" placeholder="Ex: Sla#0375">

    <label for="infrac">Tipo de Infração</label>
    <select id="infrac">
      <option value="guide">Quebra de Guidelines</option>
      <option value="bugab">Abuso de Bugs</option>
      <option value="fakenews">Fake news</option>
    <option value="spam">Spam</option>
     <option value="outro">Outro</option>
    
    </select>

    <label for="subject">Denúncia</label>
    <textarea id="subject" placeholder="Escreva sua Denúncia!." style="height:200px"></textarea>

  <button class="button" onclick="get()">Enviar</button>
  </form>
</div>
<%- include('./components/footer.ejs') %>
 	</body>
</html>